<template>
    <div class="landing">
        <section class="hero is-dark">
            <section class="hero-body">
                <div class="container">
                    <h1 class="title">Landing</h1>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, beatae molestiae! Voluptatum adipisci reprehenderit laboriosam? Dignissimos consequatur beatae distinctio ab, officia quisquam pariatur placeat voluptatibus assumenda laboriosam ut, cumque accusamus.
                    </p>
                </div>
            </section>
        </section>
    </div>
</template>

<script>
    export default {
        name: "Index",
    }
</script>

<style scoped>
</style>